---
import { actions } from 'astro:actions';
import PlaceCard from '../components/PlaceCard.astro';
import MainLayout from '../layouts/MainLayout.astro';

const { data: places = [], error } = await actions.getPlaces();
---

<MainLayout>
  <h1 class="text-3xl font-extrabold">Lugares</h1>

  <!-- Todo: mostrar los lugares para reseñas -->

  <div class="grid grid-cols-3 gap-4">
    {places.map((place) => <PlaceCard place={place} />)}
  </div>
</MainLayout>
